
* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #fff8f4;
}
.header {
    text-align: center;
    background-color: #523E27;
    color: #ffffff;
    padding: 15px;
}

.menu ul {
    list-style-type: flex;
    margin: auto;
    padding: 0;
}
.color {
    background-color: #523E27;
    color: #ffffff;
}
.menu li {
    display: flex;
    padding: 8px;
    margin-bottom: 8px;
    background-color: #523E27;
    color: #ffffff;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.menu li:hover {
    background-color: #3a2c1b;
}

.aside {
    background-color: #523E27;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.footer {
    background-color: #523E27;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    padding: 15px;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
.img {
    width: 80%;
    height: auto;
    display: flex;
    align-items:center;
    justify-content:center;
    margin-top: 20px;
}
.vdo {
    height: auto;
    align-items:center;
    justify-content:center;
    margin-top: 20px;
}
.fa {
    padding: 20px;
    font-size: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}
.fa:hover {
    opacity: 0.4;
}
.fa-facebook {
    background: #3B5998;
    color: white;
    border-radius: 10%;
}
.fa-instagram {
    background: #cf2faa;
    color: white;
    border-radius: 10%;
}