
.row {  
    display: -ms-flexbox; 
    display: flex;
}
.side {
    -ms-flex: 30%; 
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}
.main {   
    -ms-flex: 70%; 
    flex: 70%;
    background-color: white;
    padding: 20px;
}

.img img {
    width: 250px;
    display: grid;
    margin:  auto;
    margin-top: 10px;
}
.vdo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.fa {
    padding: 20px;
    font-size: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}
.fa:hover {
    opacity: 0.4;
}
.fa-facebook {
    background: #3B5998;
    color: white;
    border-radius: 50%;
}

.fa-instagram {
    background: #cf2faa;
    color: white;
    border-radius: 50%;
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 32px 16px;
}
li a:hover {
    background-color: #555;
    color: white;
}
li a.active {
    background-color: #04AA6D;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
.first-letter-spacing {
    margin-left: 20px; 
}


